$colorSite: #f16d7f;
$colorText: #222;
$colorFilters: #6f6e6e;
$letterSpacingMain: 0.025em;
$inputBorder: 1px solid #e6e6e6;
$menuBorder: 1px solid #e8e8e8;
$productBorder: 1px solid #eaeaea;
$sortBorder: 1px solid #eaeaea;