@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.mb-100 {
  margin-bottom: 100px;
}

.last:hover .menu__box {
  right: 0;
  left: auto;
}

.last:hover .menu__box::before {
  right: 50px;
  left: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #ffffff;
}
.header__block1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header__block1 a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}
.header__block1__logo, .footer__menu__description__title__logo {
  width: 59px;
  height: 51px;
}
.header__block1__logo-text, .footer__menu__description__title__logo-text {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222;
  margin-top: 6px;
}
.header__block1__logo-text span, .footer__menu__description__title__logo-text span {
  color: #f16d7f;
}
.header__block1__search {
  display: flex;
  flex-wrap: wrap;
  height: 38px;
  flex-direction: row;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-left: 37px;
}
.header__block1__search__browse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 87px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  cursor: pointer;
}
.header__block1__search__browse__icon {
  color: #838383;
}
.header__block1__search__input {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.header__block1__search__input:active, .header__block1__search__input:focus {
  outline: none;
  box-shadow: none;
}
.header__block1__search__input::-moz-placeholder {
  color: #a4a4a4;
}
.header__block1__search__input::placeholder {
  color: #a4a4a4;
}
.header__block1__search__button {
  width: 34px;
  border: none;
  color: #838383;
  cursor: pointer;
}
.header__block2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 26px;
}
.header__block2__cart {
  width: 32px;
  height: 29px;
}
.header__block2__button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.025em;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.menu__list {
  padding-bottom: 18px;
  position: relative;
}
.menu__list:hover .menu__box {
  display: flex;
}
.menu__title {
  padding: 18px 25px 18px 25px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
}
.menu__title:hover {
  color: #f16d7f;
}
.menu__box {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  position: absolute;
  top: 30px;
  left: 15px;
  right: auto;
  z-index: 2;
}
.menu__box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 20px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.menu__headding {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
}
.menu__link {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  display: block;
}
.menu__link:hover {
  color: #f16d7f;
}
.menu__item {
  margin-right: 46px;
}
.menu__item:last-of-type {
  margin-right: 0;
}

.brand {
  width: 100%;
  height: 665px;
  background-image: url("./img/brand_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8e8e8;
}
.brand__block__inner_blocks {
  display: flex;
  flex-wrap: wrap;
  color: #222;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 325px;
  gap: 16px;
}
.brand__block__inner_blocks__pink_block {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}
.brand__block__inner_blocks__text__title_text {
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.025em;
}
.brand__block__inner_blocks__text__low_text {
  font-size: 40px;
}
.brand__block__inner_blocks__text__pink_text {
  color: #f16d7f;
  font-size: 40px;
}

.categories {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.categories__man {
  position: relative;
  grid-column: 1/span 1;
  grid-row: 1/span 2;
  width: 560px;
  height: 542px;
}
.categories__woman {
  position: relative;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  width: 560px;
  height: 261px;
}
.categories__accesories {
  position: relative;
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  width: 560px;
  height: 261px;
}
.categories__kids {
  position: relative;
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  width: 560px;
  height: 542px;
}
.categories__flag {
  position: absolute;
  top: 26px;
  background-color: #fff;
  padding: 16px 20px 16px 20px;
}
.categories__flag__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222;
}
.categories__flag__text__cat-name {
  font-size: 30px;
  color: #f16d7f;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 56px 0;
}
.catalog__big-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}
.catalog__title {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222;
}
.catalog__subtitle {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.catalog__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 60px 0;
}
.catalog__items__item {
  max-width: 360px;
  max-height: 587px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.catalog__items__item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.catalog__items__item:hover .catalog__items__item__hover_bg {
  display: flex;
}
.catalog__items__item:hover .catalog__items__item__hover_bg .catalog__items__item__hover_bg__add_to_cart {
  display: flex;
  flex-wrap: wrap;
}
.catalog__items__item__hover_bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 280px;
  background-color: transparent;
  background-color: rgba(33, 22, 22, 0.7);
  display: none;
}
.catalog__items__item__hover_bg__add_to_cart {
  justify-content: space-between;
  align-items: center;
  width: 139px;
  height: 44px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: none;
  padding: 0 13px;
}
.catalog__items__item__hover_bg__add_to_cart img {
  width: 26px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.catalog__items__item__img {
  width: 100%;
}
.catalog__items__item__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  margin: 20px 15px;
}
.catalog__items__item__title {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
}
.catalog__items__item__price {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.catalog__button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.025em;
  cursor: pointer;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #222;
}
.advantages__img {
  width: 100%;
  max-width: 753px;
  background-image: url(./img/advantages/advantages_women.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.advantages__img__flag {
  position: absolute;
  top: 146px;
  left: 39px;
}
.advantages__img__flag__text {
  font-size: 54px;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fff;
  text-transform: uppercase;
}
.advantages__img__flag__text__color {
  color: #f16d7f;
}
.advantages__img__flag__text__cat-name {
  font-size: 32px;
}
.advantages__blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 48px;
  color: #fbfbfb;
  padding: 48px 43px 66px 36px;
  gap: 54px;
  width: 100%;
  max-width: 308px;
}
.advantages__blocks__block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33px;
}
.advantages__blocks__block__left {
  display: flex;
  flex-wrap: wrap;
}
.advantages__blocks__block__left__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 17px;
}
.advantages__blocks__block__left__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.simple-advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #222;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-height: 341px;
  padding: 48px 13px;
}
.simple-advantages__block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  gap: 16px;
}
.simple-advantages__title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}
.simple-advantages__text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  opacity: 0.8;
}

.subscribe {
  min-height: 448px;
  padding: 111px 230px;
  box-sizing: border-box;
  background-image: url("./img/subscribe/subscribe_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.subscribe .wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 223px;
}
.subscribe__block1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28px;
}
.subscribe__block1__img {
  width: 83px;
  height: 83px;
}
.subscribe__block1__text {
  max-width: 411px;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222;
}
.subscribe__block1__name {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.subscribe__block1__city {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222;
}
.subscribe__block1__pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 13px;
  justify-content: flex-start;
  margin-top: 41px;
}
.subscribe__block1__pagination__item {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.subscribe__block1__pagination__item.active {
  background-color: #f16d7f;
}
.subscribe__block2 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 356px;
  min-width: 356px;
}
.subscribe__block2__text {
  color: #222;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  letter-spacing: 0;
  text-align: center;
}
.subscribe__block2__text span {
  font-size: 24px;
  font-weight: 800;
}
.subscribe__block2__inp {
  width: 100%;
  height: 49px;
  position: relative;
}
.subscribe__block2__inp__input {
  background: #e1e1e1;
  width: 80%;
  height: 49px;
  border: 0;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.025em;
  text-align: left;
  padding-left: 22px;
  position: absolute;
}
.subscribe__block2__inp__input::-moz-placeholder {
  color: #222;
}
.subscribe__block2__inp__input::placeholder {
  color: #222;
}
.subscribe__block2__inp__input:focus::-moz-placeholder {
  color: transparent;
}
.subscribe__block2__inp__input:focus::placeholder {
  color: transparent;
}
.subscribe__block2__inp__input:not(:focus)::-moz-placeholder {
  color: #222;
}
.subscribe__block2__inp__input:not(:focus)::placeholder {
  color: #222;
}
.subscribe__block2__inp__button {
  background: #f16d7f;
  position: absolute;
  width: 100px;
  height: 49px;
  border: 0;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  position: absolute;
  cursor: pointer;
  right: 0;
  z-index: 2;
}
.subscribe__line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 448px;
  background-color: #fff;
}

.footer__bottom {
  min-height: 79px;
  background-color: #e6e6e6;
  width: 100%;
}
.footer__bottom .wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 79px;
  background-color: #e6e6e6;
  align-items: center;
  justify-content: space-between;
  gap: 223px;
}
.footer__bottom__rights {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #7a7a7a;
}
.footer__bottom__social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.footer__bottom__social__item {
  width: 32px;
  height: 32px;
  background-image: url("");
}
.footer__bottom__social__item:first-child {
  background-image: url("./img/social/facebook.svg");
}
.footer__bottom__social__item:first-child:hover {
  background-image: url("./img/social/hover/facebook.svg");
}
.footer__bottom__social__item:nth-child(2) {
  background-image: url("./img/social/instagram.svg");
}
.footer__bottom__social__item:nth-child(2):hover {
  background-image: url("./img/social/hover/instagram.svg");
}
.footer__bottom__social__item:nth-child(3) {
  background-image: url("./img/social/linkedin.svg");
}
.footer__bottom__social__item:nth-child(3):hover {
  background-image: url("./img/social/hover/linkedin.svg");
}
.footer__bottom__social__item:nth-child(4) {
  background-image: url("./img/social/printerest.svg");
}
.footer__bottom__social__item:nth-child(4):hover {
  background-image: url("./img/social/hover/printerest.svg");
}
.footer__bottom__social__item:nth-child(5) {
  background-image: url("./img/social/twitter.svg");
}
.footer__bottom__social__item:nth-child(5):hover {
  background-image: url("./img/social/hover/twitter.svg");
}

.footer__menu {
  height: 260px;
  padding-top: 109px;
  padding-bottom: 89px;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
}
.footer__menu__description__title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
  margin-bottom: 29px;
}
.footer__menu__description__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  padding-right: 64px;
}
.footer__menu__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer__menu__list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 42px;
}
.footer__menu__list__link {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer__menu__list__link:hover {
  color: #f16d7f;
}

.breadcrumbs {
  background-color: #f8f3f4;
}
.breadcrumbs__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 148px;
}
.breadcrumbs__title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.breadcrumbs__nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumbs__nav li {
  list-style: none;
}
.breadcrumbs__nav li:not(:last-child)::after {
  content: "/";
  padding-left: 3px;
  padding-right: 3px;
}
.breadcrumbs__nav li > a {
  color: #636363;
}
.breadcrumbs__nav li:last-child {
  font-weight: 700;
  color: #f16d7f;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 777px;
  position: relative;
  background-color: #f7f7f7;
}
.slider__arrow-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.slider__arrow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  position: absolute;
}
.slider__arrow:first-child {
  left: 0;
  right: auto;
}
.slider__arrow:last-child {
  right: 0;
  left: auto;
}
.slider__arrow i {
  color: #fff;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 763px;
  background-color: #fff;
  position: relative;
  margin-bottom: 33px;
}
.product-card__block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1140px;
  min-height: 763px;
  border: 1px solid #eaeaea;
  position: absolute;
  top: -86px;
  background-color: #fff;
  z-index: 2;
}
.product-card__category {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 15px;
}
.product-card__underline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 147px;
  border: 1px solid #eaeaea;
  position: relative;
  margin-bottom: 18px;
}
.product-card__pink-underline {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  position: absolute;
}
.product-card__product-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-bottom: 67px;
}
.product-card__text {
  width: calc(100% - 480px);
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  margin-bottom: 28px;
}
.product-card__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 44px;
  margin-bottom: 37px;
}
.product-card__prop {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.product-card__prop span {
  color: #222;
}
.product-card__price {
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 43px;
}
.product-card__hr {
  width: 642px;
  border: 1px solid #eaeaea;
  margin-bottom: 63px;
}
.product-card__property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 42px;
  margin-bottom: 28px;
  width: 537px;
}
.product-card__select-input {
  width: 144px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding-left: 14px;
  color: #bcbcbc;
}
.product-card__select-input option {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
}
.product-card__custom-select {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 144px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  position: relative;
}
.product-card__custom-select option {
  padding-left: 15px;
}
.product-card__custom-select option.color {
  position: relative;
  padding-left: 30px;
  font-size: 13px;
}
.product-card__custom-select option.color::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.product-card__custom-select option.color[data-color=red]::before {
  background-color: #ef5b70;
}
.product-card__custom-select i {
  margin-right: 9px;
  font-size: 12px;
  color: #bcbcbc;
}
.product-card__choose-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #222;
  margin-bottom: 16px;
}
.product-card__choose-square {
  width: 12px;
  height: 12px;
  background-color: red;
}
.product-card__add-to-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
}
.product-card__add-to-cart img {
  width: 26px;
  height: 24px;
}
.product-card__add-to-cart span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
}

.shop {
  height: 3259px;
  margin-top: 59px;
}
.shop__menu details {
  width: 243px;
}
.shop__menu details[open] summary::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
}
.shop__menu details:not(:first-child), .shop__menu details:not(:last-child) {
  margin-bottom: 18px;
}
.shop__menu summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  height: 37px;
  padding-left: 11px;
  cursor: pointer;
}
.shop__menu summary::after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
}
.shop__menu ul {
  margin-top: 11px;
  margin-bottom: 11px;
}
.shop__menu li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 17px;
  list-style: none;
  height: 37px;
  cursor: pointer;
}
.shop__menu li:hover {
  color: #f16d7f;
}/*# sourceMappingURL=style.css.map */