@import "vars";
@import "mixins";
@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato";
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    @include flexWrap();
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #ffffff;
    &__block1 {
        @include flexWrap();
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        & a {
            @include flexWrap();
            flex-direction: row;
            align-items: center;
            gap: 13px;
        }
        &__logo {
            width: 59px;
            height: 51px;
        }
        &__logo-text {
            font-size: 27px;
            line-height: 32px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: $letterSpacingMain;
            color: $colorText;
            margin-top: 6px;
            & span {
                color: $colorSite;
            }
        }
        &__search {
            @include flexWrap();
            height: 38px;
            flex-direction: row;
            border: $inputBorder;
            border-radius: 3px;
            margin-left: 37px;
            &__browse {
                @include flexWrap();
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 87px;
                background-color: #cdcdcc;
                background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
                font-size: 14px;
                line-height: 32px;
                font-weight: 300;
                letter-spacing: $letterSpacingMain;
                cursor: pointer;
                &__icon {
                    color: #838383;
                }
            }
            &__input {
                padding-left: 16px;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: $letterSpacingMain;
                color: #a4a4a4;
                border: none;
                border-left: $inputBorder;
                border-right: $inputBorder;
                &:active,
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &::placeholder {
                    color: #a4a4a4;
                }
            }
            &__button {
                width: 34px;
                border: none;
                color: #838383;
                cursor: pointer;
            }
        }
    }
    &__block2 {
        @include flexWrap();
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 26px;
        &__cart {
            width: 32px;
            height: 29px;
        }
        &__button {
            @include flexWrap();
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 38px;
            background-color: $colorSite;
            font-size: 15px;
            line-height: 32px;
            font-weight: 400;
            color: #fff;
            letter-spacing: $letterSpacingMain;
            cursor: pointer;
        }
    }
}

.brand {
    width: 100%;
    height: 665px;
    background-image: url("./img/brand_photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e8e8e8;
    &__block {
        &__inner_blocks {
            @include flexWrap();
            color: $colorText;
            flex-direction: row;
            align-items: center;
            position: absolute;
            top: 325px;
            gap: 16px;
            &__pink_block {
                width: 12px;
                height: 92px;
                background-color: $colorSite;
            }
            &__text {
                &__title_text {
                    font-size: 60px;
                    font-weight: 900;
                    line-height: 1;
                    letter-spacing: $letterSpacingMain;
                }
                &__low_text {
                    font-size: 40px;
                }
                &__pink_text {
                    color: $colorSite;
                    font-size: 40px;
                }
            }
        }
    }
}

.categories {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    &__man {
        position: relative;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        width: 560px;
        height: 542px;
    }
    &__woman {
        position: relative;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        width: 560px;
        height: 261px;
    }
    &__accesories {
        position: relative;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        width: 560px;
        height: 261px;
    }
    &__kids {
        position: relative;
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
        width: 560px;
        height: 542px;
    }
    &__flag {
        position: absolute;
        top: 26px;
        background-color: #fff;
        padding: 16px 20px 16px 20px;
        &__text {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: $letterSpacingMain;
            color: $colorText;
            &__cat-name {
                font-size: 30px;
                color: $colorSite;
            }
        }
    }
}
